<h3 class="font-thin m-b-md">Ырлар</h3>
<div class="row">
    <div class="col-md-7 col-sm-6 col-xs-12">
      <ul class="list-group list-group-lg no-border bg-info-ltest m-b-lg auto"
            id="songs" *ngIf="songs" infiniteScroll
            [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="300"
            (scrolled)="onScrollDown()">
            <li class="list-group-item"
                *ngFor="let song of songs; let i = index" class="list-group-item">
                <div class="pull-right m-l">
                    <a class="m-r-sm" (click)="appService.download(song, songs, i)">
                        <i class="icon-cloud-download"></i>
                    </a>
                    <a class="m-r-sm" (click)="appService.favourite(song)">
                        <i class="icon-heart text-danger-dker" *ngIf="localStorageService.isFavorite(song.id)"></i>
                        <i class="icon-heart" *ngIf="!localStorageService.isFavorite(song.id)"></i>
                    </a>
                    <a>
                        <i class="icon-doc"></i>
                    </a>
                </div>
                <div>
                    <a class="jp-play-me m-r-sm pull-left">
                        <i class="icon-control-play text" (click)="playerService.setCurrentSong(song)"></i>
                        <i class="icon-control-pause text"></i>
                    </a>
                </div>
                <div class="clear text-ellipsis">
                  <span *ngFor="let artist of song.artists; let  last=last; let index=index;">
                      <a routerLink="/artist/{{artist.id}}" class="link-to-mob-app">
                        {{artist.name}}<span *ngIf="last!=true">, </span>
                      </a>
                  </span>
                    <a routerLink="/song/{{song.uuid}}">
                        <span class="">{{song.title}}</span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>
