<section class="panel panel-default">
  <header class="panel-heading">
    <p>{{title}}</p>
    <input #searchInput type="text" class="input-md form-control" name="searchText"
           placeholder="Издөө" [(ngModel)]="songFilter.title">
  </header>
  <ul class="list-group" *ngIf="songs">
    <li class="list-group-item" *ngFor="let song of songs| filterBy: songFilter; let index = index"
        (click)="playerService.play(song, songs,index )"
        [ngClass]="{active: playerService.isCurrentSong(song)}">
      <div class="media"><span class="pull-left thumb-sm">
                    </span>
        <div class="pull-right text-accent m-t-sm">
          <i class="fa fa-play"
             [ngClass]="{'fa-play': !playerService.isCurrentSong(song), 'fa-pause': playerService.isCurrentSong(song)}"></i>
        </div>
        <div class="media-body">
          <div><strong>{{song.title}}</strong></div>
          <small class="text-muted">{{song.artist_as_one}}</small>
        </div>
      </div>
    </li>
  </ul>
</section>
