<app-song-info></app-song-info>

<!--<section *ngIf="song" class="">-->
  <!--<section class="vbox">-->
    <!--<section class="w-f-md padder-lg" id="bjax-target">-->
      <!--<section class="hbox stretch">-->
        <!--<div class="row">-->
          <!--<div class="col-sm-12">-->
            <!--<section class="vbox animated fadeInUp">-->

              <!--<app-song-info></app-song-info>-->

            <!--</section>-->
          <!--</div>-->
          <!--<div class="col-sm-12 hidden-xs col-sm-4 col-sm-offset-1">-->
            <!--<section class="vbox">-->
              <!--<section class="scrollable hover">-->
                <!--<app-song-list-row-based [songs]="artist.songs" [title]="artistSongs"></app-song-list-row-based>-->
                <!--&lt;!&ndash;<app-song-list-row-based [songs]="randomSongs" [title]="listen"></app-song-list-row-based>&ndash;&gt;-->
              <!--</section>-->
            <!--</section>-->
          <!--</div>-->
        <!--</div>-->
      <!--</section>-->
    <!--</section>-->
  <!--</section>-->
  <!--<a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>-->
<!--</section>-->
