<section class="w-f-md" id="bjax-target">
    <section class="hbox stretch bg-black dker"> <!-- side content -->
        <section>
            <section class="vbox">
                <section class="scrollable padder-lg"><h2 class="font-thin m-b">Acoustic</h2>
                    <div class="row row-sm">
                        <div *ngFor="let artist of artists;" class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                            <div class="item">
                                <div class="pos-rlt">
                                    <div class="item-overlay opacity r r-2x bg-black">
                                        <div class="center text-center m-t-n">
                                            <a href="http://aio.kg">
                                                <i class="fa fa-play-circle i-2x"></i></a>
                                        </div>
                                    </div>
                                    <a href="http://aio.kg">
                                        <img src="http://flatfull.com/themes/musik/images/m1.jpg" alt="{{artist.name}}"
                                             class="r r-2x img-full">
                                    </a>
                                </div>
                                <div class="padder-v">
                                    <a
                                            href="http://aio.kg"
                                            data-bjax="" data-target="#bjax-target" data-el="#bjax-el"
                                            data-replace="true" class="text-ellipsis">{{artist.name}}</a>
                                    <a href="http://aio.kg"
                                       data-bjax="" data-target="#bjax-target" data-el="#bjax-el"
                                       data-replace="true" class="text-ellipsis text-xs text-muted">{{artist.id}}</a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <ul class="pagination pagination">
                        <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                    </ul>
                </section>
            </section>
        </section>
    </section>
</section>