<section class="w-f-md" id="bjax-target">
    <section class="hbox stretch bg-black dker"> <!-- side content -->
        <section>
            <section class="vbox">
                <section class="scrollable padder-lg"><h2 class="font-thin m-b">Ырчылар</h2>
                    <div class="row">
                        <div *ngFor="let artist of artists;" class="col-xs-6 col-sm-4 col-md-3 col-lg-2" id="artists">
                            <div class="item">
                                <div class="pos-rlt">
                                    <div class="item-overlay opacity r r-2x bg-black">
                                        <div class="center text-center m-t-n">
                                            <a href="http://aio.kg">
                                                <i class="fa fa-play-circle i-2x"></i></a>
                                        </div>
                                    </div>
                                    <a >
                                        <img *ngIf="artist.profileLocal" src="http://localhost:8000/uploads/artist/profile/{{artist.profileLocal}}.jpg" alt="{{artist.name}}"
                                             class="r r-2x img-full">
                                    </a>
                                </div>
                                <div class="padder-v">
                                    <a routerLink="/artist/{{artist.id}}" class="artist-link">
                                      {{artist.name}} {{artist.lastname}}
                                    </a>
                                    <a href="http://aio.kg"
                                       data-bjax="" data-target="#bjax-target" data-el="#bjax-el"
                                       data-replace="true" class="text-ellipsis text-xs text-muted">Ырларым <span class="badge bg-info pull-right">{{artist.numberOfSongs}}</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </section>
    </section>
</section>
