<section id="main-content" *ngIf="artist" class="container-fluid">
  <section class="vbox">
    <section class="w-f-md">
      <section class="hbox stretch bg-black dker row"> <!-- side content -->
        <aside class="col-sm-5" id="sidebar">
          <section class="vbox animated fadeInUp">
            <section class="panel panel-default">
              <header class="panel-heading">
                <div class="m-t-n-xxs item pos-rlt">
                  <div class="row content">
                    <div class="col-md-6">
                      <img class="img-full" src="{{artist.profile}}" alt="{{artist.name}}">
                    </div>
                    <div class="col-md-6">
                      <a href="{{artist.instagram}}" target="_blank" class="btn btn-icon">
                        <i class="fa fa-instagram fa-2x"></i>
                      </a>
                    <span class="pull-right text-sm">
                      <span class="h2 font-thin">{{artist.name}} {{artist.lastname}}</span>
                    </span>
                    </div>
                  </div>
                </div>
              </header>
              <ul class="list-group" *ngIf="artist">
                <li class="list-group-item" *ngFor="let song of artist.songs">
                  <div class="media"><span class="pull-left thumb-sm">
                      <!--<img src="{{song.artists[0].profile}}" alt="..." class="img-circle">-->
                    </span>
                    <div class="pull-right text-success m-t-sm"><i class="fa fa-circle"></i></div>
                    <div class="media-body">
                      <div><a href="#">{{song.artist_as_one}}</a></div>
                      <small class="text-muted">{{song.title}}</small>
                    </div>
                  </div>
                </li>
              </ul>
            </section>
          </section>
        </aside>
        <section class="col-sm-4">
          <section class="vbox">
            <section class="scrollable hover">

              <section class="panel panel-success portlet-item">
                <header class="panel-heading"> Тыңшап көрүңүз</header>
                <ul class="list-group alt" *ngIf="randomSongs">
                  <li class="list-group-item" *ngFor="let song of randomSongs">
                    <div class="media"><span class="pull-left thumb-sm">
                      <img src="{{song.artists[0].profile}}" alt="..." class="img-circle">
                    </span>
                      <div class="pull-right text-success m-t-sm"><i class="fa fa-circle"></i></div>
                      <div class="media-body">
                        <div><a href="#">{{song.artist_as_one}}</a></div>
                        <small class="text-muted">{{song.title}}</small>
                      </div>
                    </div>
                  </li>
                </ul>
              </section>
            </section>
          </section>
        </section>
        <section class="col-sm-3 lt" id="song-lyrics">

        </section>
      </section>
    </section>
  </section>
  <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
</section>
