<section id="main-content" *ngIf="artist" class="container-fluid">
  <section class="vbox">
    <section class="w-f-md">
      <section class="hbox stretch bg-black dker row"> <!-- side content -->
        <aside class="col-sm-5" id="sidebar">
          <section class="vbox animated fadeInUp">
            <section class="panel panel-default">
              <div class="panel-body">
                <div class="clearfix text-center m-t">
                  <div class="inline">
                    <div class="easypiechart easyPieChart" data-percent="75" data-line-width="5"
                         data-bar-color="#4cc0c1" data-track-color="#f5f5f5" data-scale-color="false"
                         data-size="134" data-line-cap="butt" data-animate="1000"
                         style="width: 134px; height: 134px; line-height: 134px;">
                      <div class="thumb-lg">
                        <img [lazyLoad]="artist.profileLocal"
                             src="http://localhost:8000/uploads/artist/profile/placeholder_one.jpg"
                             class="img-circle" alt="...">
                      </div>
                      <canvas width="268" height="268" style="width: 134px; height: 134px;"></canvas>
                    </div>
                    <div class="h4 m-t m-b-xs">{{artist.name}} {{artist.lastname}}</div>
                  </div>
                </div>
              </div>
              <footer class="panel-footer bg-primary text-center">
                <div class="row pull-out">
                  <div class="col-xs-6 dk">
                    <div class="padder-v"><span class="m-b-xs h3 block text-white">{{artist.numberOfSongs}}</span>
                      <small class="text-muted">Ырларым</small>
                    </div>
                  </div>
                  <div class="col-xs-6" *ngIf="artist.instagram">
                    <a href="{{artist.instagram}}" target="_blank">
                      <div class="padder-v">

                        <span class="m-b-xs h3 block text-white">
                          <i class="fa fa-instagram"></i>
                        </span>
                        <small class="text-muted">Инстаграм</small>
                      </div>
                    </a>
                  </div>
                </div>
              </footer>
            </section>
            <section class="panel panel-default">
              <header class="panel-heading">
                <p>Ырларым</p>
                <input #searchInput type="text" class="input-md form-control" name="searchText"
                       placeholder="Издөө" [(ngModel)]="songFilter.title">
              </header>
              <ul class="list-group" *ngIf="artist">
                <li class="list-group-item" *ngFor="let song of artist.songs| filterBy: songFilter; let index = index"
                    (click)="playerService.play(song, artist.songs,index )"
                    [ngClass]="{active: playerService.isCurrentSong(song)}">
                  <div class="media"><span class="pull-left thumb-sm">
                    </span>
                    <div class="pull-right text-accent m-t-sm">
                      <i class="fa fa-play" [ngClass]="{'fa-play': !playerService.isCurrentSong(song), 'fa-pause': playerService.isCurrentSong(song)}"></i>
                    </div>
                    <div class="media-body">
                      <div><strong>{{song.title}}</strong></div>
                      <small class="text-muted">{{song.artist_as_one}}</small>
                    </div>
                  </div>
                </li>
              </ul>
            </section>
          </section>
        </aside>
        <section class="col-sm-4 no-padder">
          <section class="vbox">
            <section class="scrollable hover">

              <section class="panel panel-default portlet-item" id="songs">
                <header class="panel-heading"> Тыңшап көрүңүз</header>
                <ul class="list-group alt" *ngIf="randomSongs">
                  <li class="list-group-item" *ngFor="let song of randomSongs; let index=index;"
                      (click)="playerService.play(song, randomSongs,index )"
                      [ngClass]="{active: playerService.isCurrentSong(song)}">
                    <div class="media">
                      <span class="pull-left thumb-sm">
                      <img [lazyLoad]="song.profileLocal"
                           src="http://localhost:8000/uploads/artist/profile/placeholder_one.jpg"
                           alt="..." class="img-circle">
                      </span>
                      <div class="pull-right text-accent m-t-sm">
                        <i class="fa fa-play" [ngClass]="{'fa-play': !playerService.isCurrentSong(song), 'fa-pause': playerService.isCurrentSong(song)}"></i>
                      </div>
                      <div class="media-body">
                        <div><strong>{{song.title}}</strong></div>
                        <small class="text-muted">{{song.artist_as_one}}</small>
                      </div>
                    </div>
                  </li>
                </ul>
              </section>
            </section>
          </section>
        </section>
        <section class="col-sm-3" id="song-lyrics">

        </section>
      </section>
    </section>
  </section>
  <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
</section>
