<section class="panel panel-default">
  <header class="panel-heading">
    <!--<p>{{title}}</p>-->
    <input #searchInput type="text" class="input-md form-control" name="searchText"
           placeholder="Издөө" [(ngModel)]="songFilter.name">
  </header>
  <ul class="list-group" *ngIf="songs">
    <li class="list-group-item song-list-row-based" *ngFor="let song of songs| filterBy: songFilter; let index = index">
      <div class="media">
        <span class="pull-left thumb-sm" style="margin-left: 5px; margin-right: -3px;">
          <a (click)="appService.favourite(song)">
            <i class="fa fa-heart-o fa-1-5x  text-danger-dker" *ngIf="localStorageService.isFavorite(song.id)"></i>
            <i class="fa fa-heart-o fa-1-5x"  *ngIf="!localStorageService.isFavorite(song.id)"></i>
          </a>
        </span>
        <div class="pull-right text-accent m-t-sm" (click)="playerService.setCurrentSong(song)">
          <i class="fa fa-play fa-1-5x"></i>
          <i class="fa fa-pause fa-1-5x"></i>
        </div>
        <div class="media-body">
          <div>
            <strong>{{song.title}}</strong>
          </div>
          <a class="text-muted accent-link" *ngFor="let artist of song.artists; let last=last" routerLink="/artist/{{artist.id}}">{{artist.name}} <span *ngIf="!last">, </span></a>
          <div>
            <span class="label label-info" *ngIf="song.is_new">Жаңы</span>
          </div>
        </div>

      </div>
    </li>
  </ul>
</section>
