            <div class="col-md-5"><h3 class="font-thin">Эң популярдуу</h3>
                <div class="list-group bg-white list-group-lg no-bg auto" (click)="play(song, songs,i)">
                    <a *ngFor="let song of topSongs; let i = index" class="list-group-item clearfix">
                    <span class="pull-right h2 text-muted m-l">{{i}}</span>
                        <span class="pull-left thumb-sm avatar m-r" (click)="play(song, songs,i)">
                            <img src="http://flatfull.com/themes/musik/images/a4.png" alt="...">
                        </span>
                        <span class="clear" (click)="play(song, songs,i)"> <span>{{song.title}}</span>

                            <small class="text-muted clear text-ellipsis">{{song.duration}}</small>
                            <small class="text-muted clear text-ellipsis">{{song.uuid}}</small>
                            <small class="text-muted clear text-ellipsis">{{song.artist_id}}</small>
                            <!--<small class="text-muted clear text-ellipsis">{{// song.countplay}}</small>-->
                        </span>

                    </a>
                </div>
            </div>


