<section class="hbox stretch" *ngIf="playlist">
  <aside class="aside-lg bg-light lter b-r">
    <section class="vbox">
      <div class="wrapper">
        <div class="text-center m-b m-t"><a href="#" class="thumb-lg thumb-playlist">
          <img src="{{playlist.profile_photo|playlistPhoto}}" class="img-rounded">
        </a>
          <div>
            <div class="h3 m-t-xs m-b-xs">{{playlist.name}}</div>
            <small class="text-muted">Мекен ырларынын жыйнагы</small>
          </div>
        </div>
        <div class="panel wrapper">
          <div class="row text-center">
            <div class="col-xs-6"><a href="#"> <span class="m-b-xs h4 block">{{playlist.numberOfSongs}}</span>
              <small class="text-muted">Ырлар</small>
            </a></div>
            <div class="col-xs-6"><a href="#"> <span class="m-b-xs h4 block">{{playlist.numberOfArtists}}</span>
              <small class="text-muted">Ырчылар</small>
            </a></div>
          </div>
        </div>
      </div>
    </section>
  </aside>
  <aside>
    <section class="vbox">
      <div class="wrapper">
        <app-song-list-row-based [songs]="playlist.songs" [title]="artistSongs"></app-song-list-row-based>
      </div>
    </section>
  </aside>
</section>
