.vbox {
    display: table;
    border-spacing: 0;
    position: relative;
    height: 100%;
    width: 100%;
}

.vbox > section, .vbox > footer {
    top: 0;
    bottom: 0;
    width: 100%;
}
.scrollable {
    overflow-x: hidden;
    overflow-y: auto;
}
.padder-lg {
    padding-left: 30px;
    padding-right: 30px;
}
.font-thin {
    font-weight: 300;
}
.m-b {
    margin-bottom: 15px;
}
.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
    display: table;
    content: " ";
}
.clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical > .btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-footer:after {
    clear: both;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.row-sm {
    margin-left: -10px;
    margin-right: -10px;
}

.row-sm > div {
    padding-left: 10px;
    padding-right: 10px;
}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
.pagination > li {
    display: inline;
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #428bca;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.0.3');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal
}

.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

@media print {
    html, body, .hbox, .vbox {
        height: auto;
    }

    .vbox > section, .vbox > footer {
        position: relative;
    }
}
@media (min-width: 768px) {
    body.container {
        -webkit-box-shadow: 0 3px 60px rgba(0, 0, 0, 0.3);
        box-shadow: 0 3px 60px rgba(0, 0, 0, 0.3);
        border-left: 1px solid #cbd5dd;
        border-right: 1px solid #cbd5dd;
    }
    .scrollable {
        -webkit-overflow-scrolling: touch;
    }
    .vbox > section.w-f-md {
        bottom: 60px;
    }
    .app .hbox.stretch {
        height: 100%;
    }
    .hbox {
        display: table;
        table-layout: fixed;
        border-spacing: 0;
        width: 100%;
    }
    .app .hbox.stretch {
        height: 100%;
    }
}
@media (max-width: 767px) {
    .padder-lg {
        padding-left: 15px;
        padding-right: 15px;
    }
}