<section class="vbox">
  <header class="bg-white-only header header-md navbar navbar-fixed-top-xs">
    <div class="navbar-header aside">
      <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen,open" data-target="#nav,html">
        <i class="icon-list"></i>
      </a>
      <a href="index.html">
        <!--<i class="icon-earphones"></i> -->
        <img src="assets/img/muzyka-logo.png" alt="logo">
        <!--<span class="hidden-nav-xs m-l-sm">Musik</span>-->
      </a>
      <a class="btn btn-link visible-xs" data-toggle="dropdown" data-target=".user">
        <i class="icon-settings"></i>
      </a>
    </div>
    <ul class="nav navbar-nav hidden-xs">
      <li>
        <a href="#nav,.navbar-header" data-toggle="class:nav-xs,nav-xs" class="text-muted">
          <i class="fa fa-indent text"></i>
          <i class="fa fa-dedent text-active"></i>
        </a>
      </li>
    </ul>
    <form class="navbar-form navbar-left input-s-lg m-t m-l-n-xs hidden-xs" role="search">
      <div class="form-group">
        <div class="input-group">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-sm bg-white btn-icon rounded">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
          <input type="text" class="form-control input-sm no-border rounded" placeholder="Издөө...">
        </div>
      </div>
    </form>
    <div class="navbar-right">
      <ul class="nav navbar-nav m-n hidden-xs nav-user user">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle bg clear" data-toggle="dropdown">
                        <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
                            <img src="images/bekturomurov.jpg" alt="">
                        </span>
            Бектур Өмүров <b class="caret"></b>
          </a>
          <ul class="dropdown-menu animated fadeInRight">
            <li><span class="arrow top"></span> <a href="#">Өзгөртүү</a></li>
            <li><a href="#">Баракчам</a></li>
            <li><a href="#">Жардам</a></li>
            <li class="divider"></li>
            <li><a href="#" data-toggle="ajaxModal">Чыгуу</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </header>
  <section>
    <section class="hbox stretch"> <!-- .aside -->
      <aside class="bg-black dk aside hidden-print" id="nav">
        <section class="vbox">
          <section class="w-f-md scrollable">
            <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0"
                 data-size="10px" data-railOpacity="0.2"> <!-- nav -->
              <nav class="nav-primary hidden-xs">
                <ul class="nav bg clearfix">
                  <li class="hidden-nav-xs padder m-t m-b-sm text-xs text-muted">Ырлар дүйнөсү</li>
                  <li>
                    <a routerLink="/">
                      <i class="icon-home icon text-success"></i>
                      <span class="font-bold" routerLinkActive="active">Башкы бет</span>
                    </a>
                  </li>
                  <li>
                    <a routerLink="/songs">
                      <i class="icon-playlist icon text-info"></i>
                      <span class="font-bold" routerLinkActive="active">Ырлар</span>
                    </a>
                  </li>
                  <li>
                    <a routerLink="/artists" routerLinkActive="active">
                      <i class="icon-user icon text-primary-lter"></i>
                      <span class="font-bold hidden-xs">Аткаруучу</span>
                    </a>
                  </li>
                  <li>
                    <a routerLink="/topsongs" routerLinkActive="active">
                      <i class="icon-heart icon text-info-dker"></i>
                      <span class="font-bold">Тренд</span>
                    </a>
                  </li>
                  <li>
                    <a routerLink="/newsongs" routerLinkActive="active">
                      <i class="icon-plus icon text-primary"></i>
                      <span class="font-bold">Жаңы ырлар</span>
                    </a>
                  </li>
                  <li>
                    <a routerLink="/randomsongs" routerLinkActive="active">
                      <i class="icon-shuffle icon"></i>
                      <span class="font-bold">Туш келди</span>
                    </a>
                  </li>
                  <li *ngIf="authService.loggedIn()">
                    <a routerLink="/favourite" routerLinkActive="active">
                      <i class="icon-heart icon text-danger-dker"></i>
                      <span class="font-bold">Сүйгөн ырларым</span>
                    </a>
                  </li>
                </ul>
                <ul class="nav" data-ride="collapse">
                  <li class="hidden-nav-xs padder m-t m-b-sm text-xs text-muted">Пайдалуу шилтемелер</li>
                  <li>
                    <a href="#" class="auto">
                      <i class="icon-music-tone-alt icon"></i>
                      <span>Портал тууралуу</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="auto">
                      <i class="icon-call-in icon"></i>
                      <span>Байланыш</span>
                    </a>
                  </li>
                </ul>
              </nav> <!-- / nav -->
            </div>
          </section>
          <footer class="footer hidden-xs no-padder text-center-nav-xs">
            <div class="bg hidden-xs ">
              <div class="dropdown dropup wrapper-sm clearfix">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <span class="thumb-sm avatar pull-left m-l-xs">
                                        <img src="assets/img/bek_borbiev.jpg" alt="">
                                        <i class="on b-black"></i>
                                    </span>
                  <span class="hidden-nav-xs clear">
                                    <span class="block m-l">
                                        <strong class="font-bold text-lt">Бек Борбиев</strong>
                                    </span>
                                    <span class="text-muted text-xs block m-l">Байчечекей</span>
                                </span>
                </a>
              </div>
            </div>
          </footer>
        </section>
      </aside> <!-- /.aside -->

      <section class="hbox stretch"> <!-- .aside -->
        <section id="content">
          <section class="vbox">
            <router-outlet></router-outlet>
          </section>
          <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open"
             data-target="#nav,html"></a>
        </section>
      </section>

      <!--<section id="content">-->
        <!--<section class="hbox stretch">-->
          <!--<section>-->
            <!--<section class="vbox">-->
              <!--<section class="scrollable padder-lg w-f-md" id="bjax-target">-->
                <!--<div class="row">-->
                  <!--<div class="col-md-7"><h3 class="font-thin">Жаңы ырлар-->
                    <!--<span class="musicbar animate inline m-l-sm" style="width:20px;height:20px">-->
                                        <!--<span class="bar1 a1 bg-primary lter"></span>-->
                                        <!--<span class="bar2 a2 bg-info lt"></span>-->
                                        <!--<span class="bar3 a3 bg-success"></span>-->
                                        <!--<span class="bar4 a4 bg-warning dk"></span>-->
                                        <!--<span class="bar5 a5 bg-danger dker"></span>-->
                                    <!--</span>-->
                  <!--</h3>-->
                    <!--<div class="row row-sm">-->
                      <!--<div class="col-xs-6 col-sm-4">-->
                        <!--<div class="item">-->
                          <!--<div class="pos-rlt">-->
                            <!--<div class="bottom">-->
                              <!--<span class="badge bg-info m-l-sm m-b-sm">03:20</span>-->
                            <!--</div>-->
                            <!--<div class="item-overlay opacity r r-2x bg-black">-->
                              <!--<div class="text-info padder m-t-sm text-sm">-->
                                <!--<i class="fa fa-star"></i>-->
                                <!--<i class="fa fa-star"></i>-->
                                <!--<i class="fa fa-star"></i>-->
                                <!--<i class="fa fa-star"></i>-->
                                <!--<i class="fa fa-star-o text-muted"></i>-->
                              <!--</div>-->
                              <!--<div class="center text-center m-t-n">-->
                                <!--<a href="#">-->
                                  <!--<i class="icon-control-play i-2x"></i>-->
                                <!--</a>-->
                              <!--</div>-->
                              <!--<div class="bottom padder m-b-sm">-->
                                <!--<a href="#" class="pull-right">-->
                                  <!--<i class="fa fa-heart-o"></i>-->
                                <!--</a>-->
                                <!--<a href="#">-->
                                  <!--<i class="fa fa-plus-circle"></i>-->
                                <!--</a>-->
                              <!--</div>-->
                            <!--</div>-->
                            <!--<a href="#"><img src="images/singers/mirbek-atabekov.jpg" alt="" class="r r-2x img-full"></a>-->
                          <!--</div>-->
                          <!--<div class="padder-v">-->
                            <!--<a href="#" class="text-ellipsis">Жаштык кез</a>-->
                            <!--<a href="#" class="text-ellipsis text-xs text-muted">Мирбек Атабеков</a>-->
                          <!--</div>-->
                        <!--</div>-->
                      <!--</div>-->
                      <!--<div class="col-xs-6 col-sm-4">-->
                        <!--<div class="item">-->
                          <!--<div class="pos-rlt">-->
                            <!--<div class="bottom">-->
                              <!--<span class="badge bg-info m-l-sm m-b-sm">03:20</span>-->
                            <!--</div>-->
                            <!--<div class="item-overlay opacity r r-2x bg-black">-->
                              <!--<div class="text-info padder m-t-sm text-sm">-->
                                <!--<i class="fa fa-star"></i>-->
                                <!--<i class="fa fa-star"></i>-->
                                <!--<i class="fa fa-star"></i>-->
                                <!--<i class="fa fa-star"></i>-->
                                <!--<i class="fa fa-star-o text-muted"></i>-->
                              <!--</div>-->
                              <!--<div class="center text-center m-t-n">-->
                                <!--<a href="#">-->
                                  <!--<i class="icon-control-play i-2x"></i>-->
                                <!--</a>-->
                              <!--</div>-->
                              <!--<div class="bottom padder m-b-sm">-->
                                <!--<a href="#" class="pull-right">-->
                                  <!--<i class="fa fa-heart-o"></i>-->
                                <!--</a>-->
                                <!--<a href="#">-->
                                  <!--<i class="fa fa-plus-circle"></i>-->
                                <!--</a>-->
                              <!--</div>-->
                            <!--</div>-->
                            <!--<a href="#"><img src="images/singers/omar.jpg" alt="" class="r r-2x img-full"></a>-->
                          <!--</div>-->
                          <!--<div class="padder-v">-->
                            <!--<a href="#" class="text-ellipsis">Сени сүйөм</a>-->
                            <!--<a href="#" class="text-ellipsis text-xs text-muted">Омар</a>-->
                          <!--</div>-->
                        <!--</div>-->
                      <!--</div>-->
                      <!--<div class="col-xs-6 col-sm-4">-->
                        <!--<div class="item">-->
                          <!--<div class="pos-rlt">-->
                            <!--<div class="bottom">-->
                              <!--<span class="badge bg-info m-l-sm m-b-sm">03:20</span>-->
                            <!--</div>-->
                            <!--<div class="item-overlay opacity r r-2x bg-black">-->
                              <!--<div class="text-info padder m-t-sm text-sm">-->
                                <!--<i class="fa fa-star"></i>-->
                                <!--<i class="fa fa-star"></i>-->
                                <!--<i class="fa fa-star"></i>-->
                                <!--<i class="fa fa-star"></i>-->
                                <!--<i class="fa fa-star-o text-muted"></i>-->
                              <!--</div>-->
                              <!--<div class="center text-center m-t-n">-->
                                <!--<a href="#">-->
                                  <!--<i class="icon-control-play i-2x"></i>-->
                                <!--</a>-->
                              <!--</div>-->
                              <!--<div class="bottom padder m-b-sm">-->
                                <!--<a href="#" class="pull-right">-->
                                  <!--<i class="fa fa-heart-o"></i>-->
                                <!--</a>-->
                                <!--<a href="#">-->
                                  <!--<i class="fa fa-plus-circle"></i>-->
                                <!--</a>-->
                              <!--</div>-->
                            <!--</div>-->
                            <!--<a href="#"><img src="images/singers/gulnur-satylganova.jpg" alt="" class="r r-2x img-full"></a>-->
                          <!--</div>-->
                          <!--<div class="padder-v">-->
                            <!--<a href="#" class="text-ellipsis">Тоолор</a>-->
                            <!--<a href="#" class="text-ellipsis text-xs text-muted">Гульнур Сатылганова</a>-->
                          <!--</div>-->
                        <!--</div>-->
                      <!--</div>-->
                      <!--<div class="col-xs-6 col-sm-4">-->
                        <!--<div class="item">-->
                          <!--<div class="pos-rlt">-->
                            <!--<div class="bottom">-->
                              <!--<span class="badge bg-info m-l-sm m-b-sm">03:20</span>-->
                            <!--</div>-->
                            <!--<div class="item-overlay opacity r r-2x bg-black">-->
                              <!--<div class="text-info padder m-t-sm text-sm">-->
                                <!--<i class="fa fa-star"></i>-->
                                <!--<i class="fa fa-star"></i>-->
                                <!--<i class="fa fa-star"></i>-->
                                <!--<i class="fa fa-star"></i>-->
                                <!--<i class="fa fa-star-o text-muted"></i>-->
                              <!--</div>-->
                              <!--<div class="center text-center m-t-n">-->
                                <!--<a href="#">-->
                                  <!--<i class="icon-control-play i-2x"></i>-->
                                <!--</a>-->
                              <!--</div>-->
                              <!--<div class="bottom padder m-b-sm">-->
                                <!--<a href="#" class="pull-right">-->
                                  <!--<i class="fa fa-heart-o"></i>-->
                                <!--</a>-->
                                <!--<a href="#">-->
                                  <!--<i class="fa fa-plus-circle"></i>-->
                                <!--</a>-->
                              <!--</div>-->
                            <!--</div>-->
                            <!--<a href="#"><img src="images/singers/ayana-kasymova.jpg" alt="" class="r r-2x img-full"></a>-->
                          <!--</div>-->
                          <!--<div class="padder-v">-->
                            <!--<a href="#" class="text-ellipsis">Сүрөтүңө</a>-->
                            <!--<a href="#" class="text-ellipsis text-xs text-muted">Аяна Касымова</a>-->
                          <!--</div>-->
                        <!--</div>-->
                      <!--</div>-->
                      <!--<div class="col-xs-6 col-sm-4">-->
                        <!--<div class="item">-->
                          <!--<div class="pos-rlt">-->
                            <!--<div class="bottom">-->
                              <!--<span class="badge bg-info m-l-sm m-b-sm">03:20</span>-->
                            <!--</div>-->
                            <!--<div class="item-overlay opacity r r-2x bg-black">-->
                              <!--<div class="text-info padder m-t-sm text-sm">-->
                                <!--<i class="fa fa-star"></i>-->
                                <!--<i class="fa fa-star"></i>-->
                                <!--<i class="fa fa-star"></i>-->
                                <!--<i class="fa fa-star"></i>-->
                                <!--<i class="fa fa-star-o text-muted"></i>-->
                              <!--</div>-->
                              <!--<div class="center text-center m-t-n">-->
                                <!--<a href="#">-->
                                  <!--<i class="icon-control-play i-2x"></i>-->
                                <!--</a>-->
                              <!--</div>-->
                              <!--<div class="bottom padder m-b-sm">-->
                                <!--<a href="#" class="pull-right">-->
                                  <!--<i class="fa fa-heart-o"></i>-->
                                <!--</a>-->
                                <!--<a href="#">-->
                                  <!--<i class="fa fa-plus-circle"></i>-->
                                <!--</a>-->
                              <!--</div>-->
                            <!--</div>-->
                            <!--<a href="#"><img src="images/singers/nurlan-nasip.jpg" alt="" class="r r-2x img-full"></a>-->
                          <!--</div>-->
                          <!--<div class="padder-v">-->
                            <!--<a href="#" class="text-ellipsis">Айылым</a>-->
                            <!--<a href="#" class="text-ellipsis text-xs text-muted">Нурлан Насип</a>-->
                          <!--</div>-->
                        <!--</div>-->
                      <!--</div>-->
                      <!--<div class="col-xs-6 col-sm-4">-->
                        <!--<div class="item">-->
                          <!--<div class="pos-rlt">-->
                            <!--<div class="bottom">-->
                              <!--<span class="badge bg-info m-l-sm m-b-sm">03:20</span>-->
                            <!--</div>-->
                            <!--<div class="item-overlay opacity r r-2x bg-black">-->
                              <!--<div class="text-info padder m-t-sm text-sm">-->
                                <!--<i class="fa fa-star"></i>-->
                                <!--<i class="fa fa-star"></i>-->
                                <!--<i class="fa fa-star"></i>-->
                                <!--<i class="fa fa-star"></i>-->
                                <!--<i class="fa fa-star-o text-muted"></i>-->
                              <!--</div>-->
                              <!--<div class="center text-center m-t-n">-->
                                <!--<a href="#">-->
                                  <!--<i class="icon-control-play i-2x"></i>-->
                                <!--</a>-->
                              <!--</div>-->
                              <!--<div class="bottom padder m-b-sm">-->
                                <!--<a href="#" class="pull-right">-->
                                  <!--<i class="fa fa-heart-o"></i>-->
                                <!--</a>-->
                                <!--<a href="#">-->
                                  <!--<i class="fa fa-plus-circle"></i>-->
                                <!--</a>-->
                              <!--</div>-->
                            <!--</div>-->
                            <!--<a href="#"><img src="images/singers/nazgul-toktokunova.jpg" alt="" class="r r-2x img-full"></a>-->
                          <!--</div>-->
                          <!--<div class="padder-v">-->
                            <!--<a href="#" class="text-ellipsis">Кусалык</a>-->
                            <!--<a href="#" class="text-ellipsis text-xs text-muted">Назгуль Токтакунова</a>-->
                          <!--</div>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<div class="col-md-5">-->
                    <!--<h3 class="font-thin">Популярдуу ырлар</h3>-->
                    <!--<div class="list-group bg-white list-group-lg no-bg auto">-->
                      <!--<a href="#" class="list-group-item clearfix">-->
                        <!--<span class="pull-right h2 text-muted m-l">1</span>-->
                        <!--<span class="pull-left thumb-sm avatar m-r">-->
                                        <!--<img src="images/profile/mirbek_atabekov.jpg" alt="">-->
                                    <!--</span>-->
                        <!--<span class="clear">-->
                                        <!--<span>Унуталбайм</span>-->
                                        <!--<small class="text-muted clear text-ellipsis">Мирбек Атабеков</small>-->
                                    <!--</span>-->
                      <!--</a>-->
                      <!--<a href="#" class="list-group-item clearfix">-->
                        <!--<span class="pull-right h2 text-muted m-l">2</span>-->
                        <!--<span class="pull-left thumb-sm avatar m-r">-->
                                        <!--<img src="images/profile/temir_nazarov.jpg" alt="">-->
                                    <!--</span>-->
                        <!--<span class="clear">-->
                                        <!--<span>Туулган жер</span>-->
                                        <!--<small class="text-muted clear text-ellipsis">Темир Назаров</small>-->
                                    <!--</span>-->
                      <!--</a>-->
                      <!--<a href="#" class="list-group-item clearfix">-->
                        <!--<span class="pull-right h2 text-muted m-l">3</span>-->
                        <!--<span class="pull-left thumb-sm avatar m-r">-->
                                        <!--<img src="images/profile/sezdbek_iskenaliev.jpg" alt="">-->
                                    <!--</span>-->
                        <!--<span class="clear">-->
                                        <!--<span>Мына минтип</span>-->
                                        <!--<small class="text-muted clear text-ellipsis">Съездбек Искеналиев</small>-->
                                    <!--</span>-->
                      <!--</a>-->
                      <!--<a href="#" class="list-group-item clearfix">-->
                        <!--<span class="pull-right h2 text-muted m-l">4</span>-->
                        <!--<span class="pull-left thumb-sm avatar m-r">-->
                                        <!--<img src="images/profile/nonstop.jpg" alt="">-->
                                    <!--</span>-->
                        <!--<span class="clear">-->
                                        <!--<span>Сени сүйөм</span>-->
                                        <!--<small class="text-muted clear text-ellipsis">Non Stop</small>-->
                                    <!--</span>-->
                      <!--</a>-->
                      <!--<a href="#" class="list-group-item clearfix">-->
                        <!--<span class="pull-right h2 text-muted m-l">5</span>-->
                        <!--<span class="pull-left thumb-sm avatar m-r">-->
                                        <!--<img src="images/profile/isaomurkulov_official.jpg" alt="">-->
                                    <!--</span>-->
                        <!--<span class="clear">-->
                                        <!--<span>Гүлзар</span>-->
                                        <!--<small class="text-muted clear text-ellipsis">Иса Өмүркулов</small>-->
                                    <!--</span>-->
                      <!--</a>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="row m-t-lg m-b-lg">-->
                  <!--<div class="col-sm-7">-->
                    <!--<div class="bg-primary wrapper-md r">-->
                      <!--<a href="#">-->
                                    <!--<span class="h4 m-b-xs block">-->
                                        <!--<i class=" icon-user-follow i-lg"></i>-->
                                        <!--Кирүү же Катталуу-->
                                    <!--</span>-->
                        <!--<span class="text-muted">-->
                                        <!--Порталга катталуу менен Сиз көптөгөн кошумча мүмкүнчүлүктөргө-->
                                        <!--ээ болосуз. Ошондой эле Сизде, социалдык тармактардагы баракчаларыңыз менен кирүү-->
                                        <!--мүмкүнчүлүгү бар-->
                                    <!--</span>-->
                      <!--</a>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<div class="col-sm-5">-->
                    <!--<div class="bg-black wrapper-md r">-->
                      <!--<a href="#">-->
                                    <!--<span class="h4 m-b-xs block">-->
                                        <!--<i class="icon-cloud-download i-lg"></i>-->
                                        <!--Музыка мобилдик тиркемеси-->
                                    <!--</span>-->
                        <!--<span class="text-muted">-->
                                        <!--Google play сервисинен өзүңүздүн андроид телефонугузга-->
                                        <!--музыка мобилдик тиркемесин акысыз көчүрүп алсаңыз болот-->
                                    <!--</span>-->
                      <!--</a>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</section>-->
              <!--<footer class="footer bg-dark">-->
                <!--<div id="jp_container_N">-->
                  <!--<div class="jp-type-playlist">-->
                    <!--<div id="jplayer_N" class="jp-jplayer hide"></div>-->
                    <!--<div class="jp-gui">-->
                      <!--<div class="jp-video-play hide"><a class="jp-video-play-icon">play</a></div>-->
                      <!--<div class="jp-interface">-->
                        <!--<div class="jp-controls">-->
                          <!--<div><a class="jp-previous"><i class="icon-control-rewind i-lg"></i></a>-->
                          <!--</div>-->
                          <!--<div><a class="jp-play"><i class="icon-control-play i-2x"></i></a>-->
                            <!--<a class="jp-pause hid"><i class="icon-control-pause i-2x"></i></a>-->
                          <!--</div>-->
                          <!--<div><a class="jp-next"><i-->
                                  <!--class="icon-control-forward i-lg"></i></a></div>-->
                          <!--<div class="hide"><a class="jp-stop"><i class="fa fa-stop"></i></a>-->
                          <!--</div>-->
                          <!--<div><a class="" data-toggle="dropdown" data-target="#playlist"><i-->
                                  <!--class="icon-list"></i></a></div>-->
                          <!--<div class="jp-progress hidden-xs">-->
                            <!--<div class="jp-seek-bar dk">-->
                              <!--<div class="jp-play-bar bg-info"></div>-->
                              <!--<div class="jp-title text-lt">-->
                                <!--<ul>-->
                                  <!--<li></li>-->
                                <!--</ul>-->
                              <!--</div>-->
                            <!--</div>-->
                          <!--</div>-->
                          <!--<div class="hidden-xs hidden-sm jp-current-time text-xs text-muted"></div>-->
                          <!--<div class="hidden-xs hidden-sm jp-duration text-xs text-muted"></div>-->
                          <!--<div class="hidden-xs hidden-sm"><a class="jp-mute" title="mute"><i-->
                                  <!--class="icon-volume-2"></i></a> <a class="jp-unmute hid"-->
                                                                    <!--title="unmute"><i-->
                                  <!--class="icon-volume-off"></i></a></div>-->
                          <!--<div class="hidden-xs hidden-sm jp-volume">-->
                            <!--<div class="jp-volume-bar dk">-->
                              <!--<div class="jp-volume-bar-value lter"></div>-->
                            <!--</div>-->
                          <!--</div>-->
                          <!--<div><a class="jp-shuffle" title="shuffle"><i-->
                                  <!--class="icon-shuffle text-muted"></i></a> <a-->
                                  <!--class="jp-shuffle-off hid" title="shuffle off"><i-->
                                  <!--class="icon-shuffle text-lt"></i></a></div>-->
                          <!--<div><a class="jp-repeat" title="repeat"><i-->
                                  <!--class="icon-loop text-muted"></i></a> <a-->
                                  <!--class="jp-repeat-off hid" title="repeat off"><i-->
                                  <!--class="icon-loop text-lt"></i></a></div>-->
                          <!--<div class="hide"><a class="jp-full-screen" title="full screen"><i-->
                                  <!--class="fa fa-expand"></i></a> <a class="jp-restore-screen"-->
                                                                   <!--title="restore screen"><i-->
                                  <!--class="fa fa-compress text-lt"></i></a></div>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                    <!--<div class="jp-playlist dropup" id="playlist">-->
                      <!--<ul class="dropdown-menu aside-xl dker">-->
                        <!--&lt;!&ndash; The method Playlist.displayPlaylist() uses this unordered list &ndash;&gt;-->
                        <!--<li class="list-group-item"></li>-->
                      <!--</ul>-->
                    <!--</div>-->
                    <!--<div class="jp-no-solution hide"><span>Update Required</span> To play the media-->
                      <!--you will need to either update your browser to a recent version or update-->
                      <!--your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash-->
                        <!--plugin</a>.-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</footer>-->
            <!--</section>-->
          <!--</section> &lt;!&ndash; side content &ndash;&gt;-->
        <!--</section>-->
        <!--<a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open"-->
           <!--data-target="#nav,html"></a></section>-->
    </section>
  </section>
</section> <!-- Bootstrap --> <!-- App -->

<!--<section class="vbox">-->
  <!--<header class="bg-primary lter header header-sm navbar navbar-fixed-top-xs">-->
    <!--<div class="container" id="header-content">-->
      <!--<div class="navbar-right">-->
        <!--<ul class="nav navbar-nav hidden-xs">-->
          <!--<li>-->
            <!--<a routerLink="/">-->
              <!--<span class="font-bold" routerLinkActive="active">Башкы бет</span>-->
            <!--</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a routerLink="/songs">-->
              <!--<span class="font-bold" routerLinkActive="active">Ырлар</span>-->
            <!--</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a routerLink="/artists" routerLinkActive="active">-->
              <!--<span class="font-bold hidden-xs">Ырчылар</span>-->
            <!--</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a routerLink="/topsongs" routerLinkActive="active">-->
              <!--<span class="font-bold">Тренд</span>-->
            <!--</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a routerLink="/newsongs" routerLinkActive="active">-->
              <!--<span class="font-bold">Жаңы ырлар</span>-->
            <!--</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a routerLink="/randomsongs" routerLinkActive="active">-->
              <!--<span class="font-bold">Туш келди</span>-->
            <!--</a>-->
          <!--</li>-->
          <!--<li *ngIf="authService.loggedIn()">-->
            <!--<a routerLink="/favourite" routerLinkActive="active">-->
              <!--<span class="font-bold">Сүйгөн ырларым</span>-->
            <!--</a>-->
          <!--</li>-->
        <!--</ul>-->
        <!--<ul class="nav navbar-nav m-n hidden-xs nav-user user">-->
          <!--<li *ngIf="!authService.loggedIn()">-->
            <!--<a routerLink="/login">Кирүү</a>-->
          <!--</li>-->

          <!--<li class="dropdown" *ngIf="authService.loggedIn()">-->
            <!--<a href="#" class="dropdown-toggle bg clear" data-toggle="dropdown">-->
              <!--{{authService.userEmail()}}<b class="caret"></b>-->
            <!--</a>-->
            <!--<ul class="dropdown-menu animated fadeInRight">-->
              <!--<li><a routerLink="profile">Профиль</a></li>-->
              <!--<li class="divider"></li>-->
              <!--<li><a (click)="logout()" data-toggle="ajaxModal">Чыгуу</a></li>-->
            <!--</ul>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="mobile-menu-container visible-xs">-->
      <!--<div class="row">-->
        <!--<div class="col-xs-3 mobile-menu">-->
          <!--<a routerLink="/" routerLinkActive="active">-->
            <!--<i class="fa fa-home mobile-menu-icon" aria-hidden="true"></i>-->
            <!--<span class="mobile-menu-title">Башкы бет</span>-->
          <!--</a>-->
        <!--</div>-->

        <!--<div class="col-xs-3 mobile-menu">-->
          <!--<a routerLink="/favourite" routerLinkActive="active">-->
            <!--<i class="fa fa-heart-o mobile-menu-icon" aria-hidden="true"></i>-->
            <!--<span class="mobile-menu-title">Сүйгөн</span>-->
          <!--</a>-->
        <!--</div>-->

        <!--<div class="col-xs-3 mobile-menu">-->
          <!--<a routerLink="/topsongs" routerLinkActive="active">-->
            <!--<i class="fa fa-fire mobile-menu-icon" aria-hidden="true"></i>-->
            <!--<span class="mobile-menu-title">Тренд</span>-->
          <!--</a>-->
        <!--</div>-->
        <!--<div class="col-xs-3 mobile-menu">-->
          <!--<a class="btn btn-link visible-xs" data-toggle="dropdown" data-target=".menu-more">-->
            <!--<i class="fa fa-bars mobile-menu-icon"></i>-->
          <!--</a>-->

        <!--</div>-->
      <!--</div>-->
      <!--<div class="row ">-->
        <!--<div class="nav navbar-nav m-n nav-user menu-more hidden-xs">-->
          <!--<div class="col-xs-3 mobile-menu">-->
            <!--<a routerLink="/newsongs" routerLinkActive="active">-->
              <!--<i class="fa fa-globe mobile-menu-icon" aria-hidden="true"></i>-->
              <!--<span class="mobile-menu-title">Жаңы</span>-->
            <!--</a>-->
          <!--</div>-->
          <!--<div class="col-xs-3 mobile-menu">-->
            <!--<a routerLink="/randomsongs" routerLinkActive="active">-->
              <!--<i class="fa fa-random mobile-menu-icon" aria-hidden="true"></i>-->
              <!--<span class="mobile-menu-title">Туш келди</span>-->
            <!--</a>-->
          <!--</div>-->
          <!--<div class="col-xs-3 mobile-menu">-->
            <!--<a routerLink="/songs">-->
              <!--<i class="fa fa-music mobile-menu-icon"></i>-->
              <!--<span class="mobile-menu-title">Ырлар</span>-->
            <!--</a>-->
          <!--</div>-->
          <!--<div class="col-xs-3 mobile-menu">-->
            <!--<a routerLink="/artists" routerLinkActive="active">-->
              <!--<i class="fa fa-microphone mobile-menu-icon"></i>-->
              <!--<span class="mobile-menu-title">Ырчылар</span>-->
            <!--</a>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</header>-->
  <!--<section>-->
    <!--<section class="hbox stretch"> &lt;!&ndash; .aside &ndash;&gt;-->
      <!--<section id="content">-->
        <!--<section class="vbox">-->
          <!--<router-outlet></router-outlet>-->
        <!--</section>-->
        <!--<a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open"-->
           <!--data-target="#nav,html"></a>-->
      <!--</section>-->
    <!--</section>-->
  <!--</section>-->
<!--</section>-->
<!--<app-player></app-player>-->


