<div class="row">
  <div class="col-md-12">
    <h3 class="font-thin m-b-md">Музыка дүйнөсүндө ачылыш жасаңыз</h3>
    <div class="row row-sm">
      <div *ngFor="let artist of artists| filterBy: songFilter; let index=index;" class="col-xs-6 col-sm-3 m-b-md"
           infiniteScroll
           [infiniteScrollDistance]="2"
           [infiniteScrollThrottle]="300"
           (scrolled)="onScrollDown()">
        <div class="item">
          <div class="pos-rlt">
            <div class="item-overlay opacity r r-2x bg-black">
              <div class="center text-center m-t-n">
                <a routerLink="/artist/{{artist.id}}" class="artist-link">
                  <i class="icon-user"></i>
                  Баракчам
                </a>
              </div>
            </div>
            <a routerLink="/artist/{{artist.id}}" class="artist-link">
              <img [lazyLoad]="artist.profileLocal"
                   src="http://api-muzyka.aio.kg/uploads/artist/profile/placeholder_one.jpg"
                   alt=""
                   class="r r-2x img-full">
            </a>
          </div>
          <div class="padder-v">
            <a routerLink="/artist/{{artist.id}}" class="text-ellipsis">{{artist.name}} {{artist.lastname}}</a>
            <a href="#" class="text-ellipsis text-xs text-muted pull-left">Ырларым</a>
            <span class="badge bg-info pull-right">{{artist.numberOfSongs}}</span>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3 m-b-md">
        <div class="item">
          <div class="pos-rlt">
            <div class="item-overlay opacity r r-2x bg-black">
              <div class="center text-center m-t-n">
                <a href="#">
                  <i class="icon-user"></i>
                  Баракчам
                </a>
              </div>
            </div>
            <a href="#"><img src="images/singers/syimyk-beishekeev.jpg" alt="" class="r r-2x img-full"></a>
          </div>
          <div class="padder-v">
            <a href="#" class="text-ellipsis">Сыймык Бейшекеев</a>
            <a href="#" class="text-ellipsis text-xs text-muted pull-left">Ырларым</a>
            <span class="badge bg-info pull-right">450</span>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3 m-b-md">
        <div class="item">
          <div class="pos-rlt">
            <div class="item-overlay opacity r r-2x bg-black">
              <div class="center text-center m-t-n">
                <a href="#">
                  <i class="icon-user"></i>
                  Баракчам
                </a>
              </div>
            </div>
            <a href="#"><img src="images/singers/aiyma-aiylchieva.jpg" alt="" class="r r-2x img-full"></a>
          </div>
          <div class="padder-v">
            <a href="#" class="text-ellipsis">Айыма Айылчиева</a>
            <a href="#" class="text-ellipsis text-xs text-muted pull-left">Ырларым</a>
            <span class="badge bg-info pull-right">44</span>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3 m-b-md">
        <div class="item">
          <div class="pos-rlt">
            <div class="item-overlay opacity r r-2x bg-black">
              <div class="center text-center m-t-n">
                <a href="#">
                  <i class="icon-user"></i>
                  Баракчам
                </a>
              </div>
            </div>
            <a href="#"><img src="images/singers/baiastan.jpg" alt="" class="r r-2x img-full"></a>
          </div>
          <div class="padder-v">
            <a href="#" class="text-ellipsis">Баястан</a>
            <a href="#" class="text-ellipsis text-xs text-muted pull-left">Ырларым</a>
            <span class="badge bg-info pull-right">35</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-sm">
      <div class="col-xs-6 col-sm-3 m-b-md">
        <div class="item">
          <div class="pos-rlt">
            <div class="item-overlay opacity r r-2x bg-black">
              <div class="center text-center m-t-n">
                <a href="#">
                  <i class="icon-user"></i>
                  Баракчам
                </a>
              </div>
            </div>
            <a href="#"><img src="images/singers/begish.jpg" alt="" class="r r-2x img-full"></a>
          </div>
          <div class="padder-v">
            <a href="#" class="text-ellipsis">Бегиш</a>
            <a href="#" class="text-ellipsis text-xs text-muted pull-left">Ырларым</a>
            <span class="badge bg-info pull-right">241</span>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3 m-b-md">
        <div class="item">
          <div class="pos-rlt">
            <div class="item-overlay opacity r r-2x bg-black">
              <div class="center text-center m-t-n">
                <a href="#">
                  <i class="icon-user"></i>
                  Баракчам
                </a>
              </div>
            </div>
            <a href="#"><img src="images/singers/saikal-sadybakasova.jpg" alt="" class="r r-2x img-full"></a>
          </div>
          <div class="padder-v">
            <a href="#" class="text-ellipsis">Сайкал Садыбакасова</a>
            <a href="#" class="text-ellipsis text-xs text-muted pull-left">Ырларым</a>
            <span class="badge bg-info pull-right">18</span>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3 m-b-md">
        <div class="item">
          <div class="pos-rlt">
            <div class="item-overlay opacity r r-2x bg-black">
              <div class="center text-center m-t-n">
                <a href="#">
                  <i class="icon-user"></i>
                  Баракчам
                </a>
              </div>
            </div>
            <a href="#"><img src="images/singers/guljigit-kalykov.jpg" alt="" class="r r-2x img-full"></a>
          </div>
          <div class="padder-v">
            <a href="#" class="text-ellipsis">Гүлжигит Калыков</a>
            <a href="#" class="text-ellipsis text-xs text-muted pull-left">Ырларым</a>
            <span class="badge bg-info pull-right">24</span>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3 m-b-md">
        <div class="item">
          <div class="pos-rlt">
            <div class="item-overlay opacity r r-2x bg-black">
              <div class="center text-center m-t-n">
                <a href="#">
                  <i class="icon-user"></i>
                  Баракчам
                </a>
              </div>
            </div>
            <a href="#"><img src="images/singers/malika-dina.jpg" alt="" class="r r-2x img-full"></a>
          </div>
          <div class="padder-v">
            <a href="#" class="text-ellipsis">Малика Дина</a>
            <a href="#" class="text-ellipsis text-xs text-muted pull-left">Ырларым</a>
            <span class="badge bg-info pull-right">50</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-sm">
      <div class="col-xs-6 col-sm-3 m-b-md">
        <div class="item">
          <div class="pos-rlt">
            <div class="item-overlay opacity r r-2x bg-black">
              <div class="center text-center m-t-n">
                <a href="#">
                  <i class="icon-user"></i>
                  Баракчам
                </a>
              </div>
            </div>
            <a href="#"><img src="images/singers/nurlan-nasip.jpg" alt="" class="r r-2x img-full"></a>
          </div>
          <div class="padder-v">
            <a href="#" class="text-ellipsis">Нурлан Насип</a>
            <a href="#" class="text-ellipsis text-xs text-muted pull-left">Ырларым</a>
            <span class="badge bg-info pull-right">84</span>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3 m-b-md">
        <div class="item">
          <div class="pos-rlt">
            <div class="item-overlay opacity r r-2x bg-black">
              <div class="center text-center m-t-n">
                <a href="#">
                  <i class="icon-user"></i>
                  Баракчам
                </a>
              </div>
            </div>
            <a href="#"><img src="images/singers/nazgul-toktokunova.jpg" alt="" class="r r-2x img-full"></a>
          </div>
          <div class="padder-v">
            <a href="#" class="text-ellipsis">Назгуль Токтакунова</a>
            <a href="#" class="text-ellipsis text-xs text-muted pull-left">Ырларым</a>
            <span class="badge bg-info pull-right">21</span>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3 m-b-md">
        <div class="item">
          <div class="pos-rlt">
            <div class="item-overlay opacity r r-2x bg-black">
              <div class="center text-center m-t-n">
                <a href="#">
                  <i class="icon-user"></i>
                  Баракчам
                </a>
              </div>
            </div>
            <a href="#"><img src="images/singers/nelya.jpg" alt="" class="r r-2x img-full"></a>
          </div>
          <div class="padder-v">
            <a href="#" class="text-ellipsis">Неля</a>
            <a href="#" class="text-ellipsis text-xs text-muted pull-left">Ырларым</a>
            <span class="badge bg-info pull-right">8</span>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3 m-b-md">
        <div class="item">
          <div class="pos-rlt">
            <div class="item-overlay opacity r r-2x bg-black">
              <div class="center text-center m-t-n">
                <a href="#">
                  <i class="icon-user"></i>
                  Баракчам
                </a>
              </div>
            </div>
            <a href="#"><img src="images/singers/mirbek-atabekov.jpg" alt="" class="r r-2x img-full"></a>
          </div>
          <div class="padder-v">
            <a href="#" class="text-ellipsis">Мирбек Атабеков</a>
            <a href="#" class="text-ellipsis text-xs text-muted pull-left">Ырларым</a>
            <span class="badge bg-info pull-right">45</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<section class="scrollable container-fluid">-->
  <!--<h2 class="font-thin m-b hidden-xs">Ырчылар</h2>-->
  <!--<div class="line line-dashed b-b line-lg pull-in"></div>-->
  <!--<div class="form-group">-->
    <!--<input #searchInput type="text" class="input-md form-control" name="searchText"-->
           <!--placeholder="Издөө" [(ngModel)]="songFilter.name">-->
  <!--</div>-->
  <!--<div class="line line-dashed b-b line-lg pull-in"></div>-->
  <!--<div class="row">-->
    <!--<div *ngFor="let artist of artists| filterBy: songFilter;" class="col-xs-6 col-sm-4 col-lg-2"-->
         <!--infiniteScroll-->
         <!--[infiniteScrollDistance]="2"-->
         <!--[infiniteScrollThrottle]="300"-->
         <!--(scrolled)="onScrollDown()">-->
      <!--<div class="item">-->
        <!--<div class="pos-rlt">-->
          <!--<a routerLink="/artist/{{artist.id}}" class="artist-link">-->
            <!--<img-->
              <!--[lazyLoad]="artist.profileLocal"-->
              <!--src="http://api-muzyka.aio.kg/uploads/artist/profile/placeholder_one.jpg"-->

              <!--class="r r-2x img-full">-->
          <!--</a>-->
        <!--</div>-->
        <!--<div class="padder-v">-->
          <!--<a routerLink="/artist/{{artist.id}}" class="artist-link">-->
            <!--{{artist.name}} {{artist.lastname}}-->
          <!--</a>-->
          <!--<p class="text-ellipsis text-xs text-muted">Ырларым <span class="badge bg-info pull-right">{{artist.numberOfSongs}}</span>-->
          <!--</p>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->
