<div class="row">
    <div class="col-md-12">
        <h3 class="font-thin m-b-md">Аткаруучулар</h3>
        <div class="row row-sm">
            <div *ngFor="let artist of artists| filterBy: songFilter; let index=index;"
                 infiniteScroll
                 [infiniteScrollDistance]="2"
                 [infiniteScrollThrottle]="300"
                 (scrolled)="onScrollDown()"
                 [scrollWindow]="false"
                 [infiniteScrollContainer]='"#bjax-target"'>

                <div class="clearfix" *ngIf="index % 4 == 0"></div>
                <div class="col-xs-6 col-sm-3 m-b-md">
                    <div class="item">
                        <div class="pos-rlt">
                            <div class="item-overlay opacity r r-2x bg-black" routerLink="/artist/{{artist.id}}">
                                <div class="center text-center m-t-n">
                                    <!--<a routerLink="/artist/{{artist.id}}">-->
                                        <!--<i class="icon-user"></i>-->
                                        <!--Баракчам-->
                                    <!--</a>-->
                                </div>
                            </div>
                            <a routerLink="/artist/{{artist.id}}">
                                <img [lazyLoad]="artist.profileLocal|profile" [scrollTarget]="artistsScrollContainer"
                                     src="http://api-muzyka.aio.kg/uploads/artist/profile/placeholder_one.jpg" alt="{{artist.name}}" class="r r-2x img-full">
                            </a>
                        </div>
                        <div class="padder-v">
                            <a routerLink="/artist/{{artist.id}}" class="text-ellipsis">{{artist.name}}</a>
                            <span class="text-ellipsis text-xs text-muted pull-left">Ырлар</span>
                            <span class="badge bg-info pull-right">{{artist.numberOfSongs}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
