<div class="row row-sm">
  <ng-container *ngFor="let song of songs; let i = index;">
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <div class="item">
        <div class="pos-rlt discover-song">

          <div class="item-overlay opacity r r-2x bg-black">
            <div class="center text-center m-t-n">
              <a>
                <i class="fa fa-play fa-1-5x" (click)="playerService.play(song,songs)" *ngIf="!playerService.isCurrentSong(song)"></i>
                <i class="fa fa-pause fa-1-5x" (click)="playerService.pause()" *ngIf="playerService.isCurrentSong(song)"></i>
              </a>
            </div>
            <div class="bottom padder m-b-sm">
              <a (click)="appService.favourite(song)" class="pull-right">
                <i class="fa fa-heart-o fa-1-5x text-danger-dker" *ngIf="localStorageService.isFavorite(song.id)"></i>
                <i class="fa fa-heart-o fa-1-5x" *ngIf="!localStorageService.isFavorite(song.id)"></i>
              </a>
              <a (click)="appService.download(song)" class="pull-left">
                <i class="fa fa-cloud-download fa-1-5x"></i>
              </a>
            </div>
          </div>
          <a (click)="playerService.play(song, songs,i)">
            <img [src]="song.profileLocal"
                 class="r r-2x img-full">
          </a>
        </div>
        <div class="padder-v">
          <div>
            <a routerLink="/song/{{song.uuid}}" class="text-ellipsis">
            <strong>{{song.title}}</strong>
            </a>
          </div>
          <a *ngFor="let artist of song.artists" routerLink="/artist/{{artist.id}}" class="text-ellipsis">
            {{artist.name}} {{artist.lastname}}
          </a>
        </div>
      </div>
    </div>
    <div class="clearfix visible-lg" *ngIf="isDivisible(i+1,6)"></div>
    <div class="clearfix visible-md" *ngIf="isDivisible(i+1,4)"></div>
    <div class="clearfix visible-sm" *ngIf="isDivisible(i+1,3)"></div>
    <div class="clearfix visible-xs" *ngIf="isDivisible(i+1,2)"></div>
  </ng-container>
</div>

