  <div class="row">
    <div class="col-md-7">
      <h3 class="font-thin">Жаңы ырлар
      </h3>
      <div class="row row-sm">
        <div class="col-xs-6 col-sm-4" *ngFor="let song of newSongs; let index=index;">
          <div class="item">
            <div class="pos-rlt">
              <div class="bottom">
                <span class="badge bg-info m-l-sm m-b-sm">{{song.duration}}</span>
              </div>
              <div class="item-overlay opacity r r-2x bg-black">
                <div class="center text-center m-t-n">
                  <a>
                      <i class="icon-control-play i-2x" (click)="playerService.play(song,songs)"  *ngIf="!playerService.isCurrentSong(song)"></i>
                      <i class="icon-control-pause i-2x" (click)="playerService.pause()"  *ngIf="playerService.isCurrentSong(song)"></i>
                  </a>
                </div>
                <div class="bottom padder m-b-sm">
                  <a (click)="appService.favourite(song)" class="pull-right">
                    <i class="fa fa-heart-o" *ngIf="!localStorageService.isFavorite(song.id)"></i>
                    <i class="fa fa-heart-o text-danger-dker" *ngIf="localStorageService.isFavorite(song.id)"></i>
                  </a>
                    <div>
                        <a (click)="appService.download(song)">
                            <i class="icon-cloud-download"></i>
                        </a>
                    </div>
                </div>
              </div>
              <a><img src="http://api-muzyka.aio.kg/uploads/artist/profile/placeholder_one.jpg" [lazyLoad]="song.profileLocal" alt="" class="r r-2x img-full"></a>
            </div>
            <div class="padder-v">
              <a routerLink="/song/{{song.uuid}}" class="text-ellipsis">{{song.title}}</a>
              <a  *ngFor="let artist of song.artists;" routerLink="/artist/{{artist.id}}" class="text-ellipsis text-xs text-muted">{{artist.name}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Популярдуу ырлар-->
    <div class="col-md-5">
      <h3 class="font-thin">Популярдуу ырлар</h3>
      <div class="list-group bg-white list-group-lg no-bg auto">

          <ul class="list-group list-group-lg bg-white auto m-b-none">
              <li class="list-group-item clearfix" *ngFor="let song of topSongs; let index=index;">
                  <span class="pull-left h2 text-muted m-r">{{index + 1}}</span>
                  <div (click)="appService.download(song,topSongs,index)">
                      <a class="pull-right m-t-sm m-l text-md text-accent">
                          <i class="icon-cloud-download text"></i>
                      </a>
                  </div>
                  <div>
                      <a class="jp-play-me pull-right m-t-sm m-l text-md">
                          <i class="icon-control-play text" (click)="playerService.play(song,songs)" *ngIf="!playerService.isCurrentSong(song)"></i>
                          <i class="icon-control-pause text" (click)="playerService.pause()" *ngIf="playerService.isCurrentSong(song)"></i>
                      </a>
                  </div>
                  <a href="#" class="pull-left thumb-sm m-r">
                      <img src="http://api-muzyka.aio.kg/uploads/artist/profile/placeholder_one.jpg"
                           [lazyLoad]="song.profileLocal"
                           alt="..." class="img-circle">
                  </a>
                  <a class="clear" href="#">
                      <a routerLink="/artist/{{artist.id}}" class="block text-ellipsis"
                         *ngFor="let artist of song.artists;">
                          {{artist.name}}
                      </a>
                      <a routerLink="/song/{{song.uuid}}" class="block text-ellipsis">
                          <small class="text-muted">{{song.title}}</small>

                      </a>

                  </a>
              </li>
          </ul>
      </div>
    </div>
  </div>

  <div class="row m-t-lg m-b-lg">
    <div class="col-sm-7">
      <div class="bg-dark wrapper-md r">
        <a href="" routerLink="/login">
            <span class="h4 m-b-xs block">
                <i class=" icon-user-follow i-lg"></i>
                Кирүү же Катталуу
            </span>
            <span class="text-muted">
                Порталга катталуу менен көптөгөн кошумча мүмкүнчүлүктөргө
                ээ болосуз. Ошондой эле, социалдык тармактардагы баракчаларыңыз менен кирүү
                мүмкүнчүлүгү бар.
            </span>
        </a>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="bg-black wrapper-md r">
        <a href="https://play.google.com/store/apps/details?id=io.penduline.kyrgyzmusic" target="_blank">
            <span class="h4 m-b-xs block">
                <i class="icon-cloud-download i-lg"></i>
                Музыка мобилдик тиркемеси
            </span>
            <span class="text-muted">
                Google play сервисинен өзүңүздүн андроид телефонугузга
                музыка мобилдик тиркемесин акысыз көчүрүп алсаңыз болот.
            </span>
        </a>
      </div>
    </div>
  </div>

