  <div class="row">
    <div class="col-md-7">
      <h3 class="font-thin">Жаңы ырлар
        <span class="musicbar animate inline m-l-sm" style="width:20px;height:20px">
            <span class="bar1 a1 bg-primary lter"></span>
            <span class="bar2 a2 bg-info lt"></span>
            <span class="bar3 a3 bg-success"></span>
            <span class="bar4 a4 bg-warning dk"></span>
            <span class="bar5 a5 bg-danger dker"></span>
        </span>
      </h3>
      <div class="row row-sm">
        <div class="col-xs-6 col-sm-4" *ngFor="let song of newSongs; let index=index;"
             [ngClass]="{active: playerService.isCurrentSong(song)}">
          <div class="item">
            <div class="pos-rlt">
              <div class="bottom">
                <span class="badge bg-info m-l-sm m-b-sm">{{song.duration}}</span>
              </div>
              <div class="item-overlay opacity r r-2x bg-black">
                <!--<div class="text-info padder m-t-sm text-sm">-->
                  <!--<i class="fa fa-star"></i>-->
                  <!--<i class="fa fa-star"></i>-->
                  <!--<i class="fa fa-star"></i>-->
                  <!--<i class="fa fa-star"></i>-->
                  <!--<i class="fa fa-star-o text-muted"></i>-->
                <!--</div>-->
                <div class="center text-center m-t-n" (click)="playerService.play(song,newSongs,index)">
                  <a href="#">
                      <i class="icon-control-play i-2x"
                         *ngIf="!playerService.isCurrentSong(song)"></i>
                      <i class="icon-control-pause i-2x"
                         *ngIf="playerService.isCurrentSong(song)"></i>
                  </a>
                </div>
                  <!--<div (click)="playerService.play(song,newSongs,index)">-->
                      <!--<i class="icon-control-play i-2x text-accent"-->
                         <!--*ngIf="!playerService.isCurrentSong(song)"></i>-->
                      <!--<i class="icon-control-pause i-2x text-accent"-->
                         <!--*ngIf="playerService.isCurrentSong(song)"></i>-->
                  <!--</div>-->
                <div class="bottom padder m-b-sm">
                  <a href="#" class="pull-right">
                    <i class="fa fa-heart-o"></i>
                  </a>
                  <!--<a href="#">-->
                    <!--<i class="fa fa-plus-circle"></i>-->
                  <!--</a>-->
                </div>
              </div>
              <a href="#"><img src="http://api-muzyka.aio.kg/uploads/artist/profile/placeholder_one.jpg" [lazyLoad]="song.profileLocal" alt="" class="r r-2x img-full"></a>
            </div>
            <div class="padder-v">
              <a href="#" class="text-ellipsis">{{song.title}}</a>
              <a  *ngFor="let artist of song.artists;" href="" routerLink="/artist/{{artist.id}}" class="text-ellipsis text-xs text-muted">{{artist.name}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Популярдуу ырлар-->
    <div class="col-md-5">
      <h3 class="font-thin">Популярдуу ырлар</h3>
      <div class="list-group bg-white list-group-lg no-bg auto">

        <li class="list-group-item clearfix discover-song" *ngFor="let song of topSongs; let index=index;"
            [ngClass]="{active: playerService.isCurrentSong(song)}">

          <div class="row">
            <div class="col-md-2 col-sm-2 col-xs-2">
                <span class="pull-left thumb-sm avatar m-r">
                    <img src="http://api-muzyka.aio.kg/uploads/artist/profile/placeholder_one.jpg"
                    [lazyLoad]="song.profileLocal"
                    alt="...">
                </span>
            </div>
            <div class="col-md-7 col-sm-7 col-xs-7">
              <span class="clear"></span>
              <a class="accent-link text-ellipsis" href="#"><span>{{song.title}}</span></a>
              <a *ngFor="let artist of song.artists;" class="accent-link text-ellipsis" href=""
                 routerLink="/artist/{{artist.id}}">
                {{artist.name}}
              </a>
            </div>
              <div class="col-md-1 col-sm-1 col-xs-1 no-padder">
                  <div (click)="playerService.play(song,topSongs,index)">
                      <i class="fa fa-play fa-1-5x text-accent"
                         *ngIf="!playerService.isCurrentSong(song)"></i>
                      <i class="fa fa-pause fa-1-5x text-accent"
                         *ngIf="playerService.isCurrentSong(song)"></i>
                  </div>
              </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
                <span class="pull-right h2 m-l text-ellipsis">{{index + 1}}</span>
            </div>

          </div>
        </li>

      </div>
    </div>
  </div>

  <div class="row m-t-lg m-b-lg">
    <div class="col-sm-7">
      <div class="bg-dark wrapper-md r">
        <a href="#">
            <span class="h4 m-b-xs block">
                <i class=" icon-user-follow i-lg"></i>
                Кирүү же Катталуу
            </span>
            <span class="text-muted">
                Порталга катталуу менен Сиз көптөгөн кошумча мүмкүнчүлүктөргө
                ээ болосуз. Ошондой эле Сизде, социалдык тармактардагы баракчаларыңыз менен кирүү
                мүмкүнчүлүгү бар
            </span>
        </a>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="bg-black wrapper-md r">
        <a href="#">
            <span class="h4 m-b-xs block">
                <i class="icon-cloud-download i-lg"></i>
                Музыка мобилдик тиркемеси
            </span>
            <span class="text-muted">
                Google play сервисинен өзүңүздүн андроид телефонугузга
                музыка мобилдик тиркемесин акысыз көчүрүп алсаңыз болот
            </span>
        </a>
      </div>
    </div>
  </div>

