<section class="vbox" *ngIf="song">
  <section class="scrollable padder-lg w-f-md" id="bjax-target">
    <div class="row">
      <div class="col-md-12 m-t-lg">
        <div class="row row-sm">
          <div class="col-md-6">
            <div class="panel wrapper text-center">
              <img [lazyLoad]="song.profileLocal | profile"
                   alt="{{song.title}}" class="thumb-lg avatar">
              <h1 class="song-title text-center m-b-lg">
                «{{song.title}}»
                <br>
                <a *ngFor="let artist of song.artists; let last=last;"
                   class="font-thin" routerLink="/artist/{{artist.id}}">{{artist.name}}<span *ngIf="!last">, </span></a>
              </h1>
              <div class="row">
                <div class="col-xs-4">
                  <div>
                    <a class="jp-play-me m-r-sm pull-left cursor-hand">
                      <i class="icon-control-play text-lg" (click)="playerService.play(song)"
                         *ngIf="!playerService.isCurrentSong(song)">
                        <span class="font-default text-md">Ойнотуу</span>
                      </i>
                      <i class="icon-control-pause text-lg" (click)="playerService.pause()"
                         *ngIf="playerService.isCurrentSong(song)">
                        <span class="font-default text-md">Токтотуу</span>
                      </i>
                    </a>
                  </div>
                </div>
                <div class="col-xs-4">
                  <a (click)="appService.download(song,song,1)" class="m-r-sm cursor-hand">
                    <i class="icon-cloud-download text-lg"> <span class="font-default text-md">Көчүрүү</span></i>
                  </a>
                </div>
                <div class="col-xs-4">
                  <a class="m-r-sm cursor-hand" (click)="appService.favourite(song)">
                    <i class="icon-heart text-lg" *ngIf="!localStorageService.isFavorite(song.id)"></i>
                    <i class="icon-heart text-lg text-danger-dker" *ngIf="localStorageService.isFavorite(song.id)"></i>
                    <span class="font-default text-md">Жакты</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="share-on-social-network">
              Бөлүшүү:
              <a href="#"><i class="fa fa-facebook-square"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
              <a href="#"><i class="fa fa-twitter-square"></i></a>
              <a href="#"><i class="fa fa-google-plus-square"></i></a>
              <a href="#"><i class="fa fa-vk"></i></a>
              <a href="#"><i class="fa fa-"></i></a>
            </div>
            <div *ngIf="youtube">
              <h3>Видеоклип</h3>
              <div id="ytplayer" class="m-t-sm videoclip" (onready)="onYouTubePlayerAPIReady(youtube);">
              </div>
            </div>
            <!--<h3>Видеоклип</h3>-->
            <!--<div id="ytplayer" class="m-t-sm videoclip"></div>-->
            <!--<script>-->
            <!--// Load the IFrame Player API code asynchronously.-->
            <!--var tag = document.createElement('script');-->
            <!--tag.src = "https://www.youtube.com/player_api";-->
            <!--var firstScriptTag = document.getElementsByTagName('script')[0];-->
            <!--firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);-->

            <!--// Replace the 'ytplayer' element with an <iframe> and-->
            <!--// YouTube player after the API code downloads.-->
            <!--var player;-->
            <!--function onYouTubePlayerAPIReady() {-->
            <!--player = new YT.Player('ytplayer', {-->
            <!--videoId: 'kQpQHL9M0oI'-->
            <!--});-->
            <!--}-->
            <!--</script>-->
          </div>
          <div class="col-md-6" *ngIf="song.lyrics">
            <div class="panel panel-default lyrics">
              <div class="panel-heading">
                <h4 class="center text-center">«{{song.title}}»</h4>
                <p *ngIf="song.written_by"><strong>Сөзү:</strong> {{song.written_by}}</p>
                <p *ngIf="song.composed_by"><strong>Обону:</strong> {{song.composed_by}}</p>
              </div>
              <div class="panel-body">
                <p [innerHTML]="song.lyrics|br">
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
