<section class="vbox" *ngIf="song">
  <section class="padder-lg w-f-md" id="bjax-target">
    <div class="row row-sm">
      <div class="col-md-6">
        <div class="text-center m-b-md">
          <img [lazyLoad]="song.profileLocal | profile"
               alt="{{song.title}}" class="thumb-lg img-circle avatar">
        </div>
        <h4 class="text-center">
          <div *ngFor="let artist of song.artists;" class="text-muted">
            <a routerLink="/artist/{{artist.id}}">{{artist.name}}</a>
          </div>
        </h4>
        <div class="panel wrapper m-t-md">
          <div class="row text-center">
            <div class="col-xs-4">
              <div>
                <a class="jp-play-me m-r-sm pull-left">
                  <i class="icon-control-play" (click)="playerService.play(song)"
                     *ngIf="!playerService.isCurrentSong(song)">
                    <span class="font-default text-md">Ойнотуу</span>
                  </i>
                  <i class="icon-control-pause text" (click)="playerService.pause()"
                     *ngIf="playerService.isCurrentSong(song)">
                    <span class="font-default text-md"><br/>Токтотуу</span>
                  </i>
                </a>
              </div>
            </div>
            <div class="col-xs-4">
              <a (click)="appService.download(song,song,1)" class="m-r-sm">
                <i class="icon-cloud-download text-lg"> <span class="font-default text-md">Көчүрүү</span></i>
              </a>
            </div>
            <div class="col-xs-4">
              <a class="m-r-sm" (click)="appService.favourite(song)">
                <i class="icon-heart text-lg" *ngIf="!localStorageService.isFavorite(song.id)"></i>
                <i class="icon-heart text-lg text-danger-dker" *ngIf="localStorageService.isFavorite(song.id)"></i>
                <span class="font-default text-md">Жакты</span>
              </a>
            </div>
          </div>
        </div>
        <div class="share-on-social-network">
          Бөлүшүү:
          <a href="#"><i class="fa fa-facebook-square"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-twitter-square"></i></a>
          <a href="#"><i class="fa fa-google-plus-square"></i></a>
          <a href="#"><i class="fa fa-vk"></i></a>
        </div>
        <div *ngIf="youtube">
          <h3>Видеоклип</h3>
          <div id="ytplayer" class="m-t-sm videoclip" (onready)="onYouTubePlayerAPIReady(youtube);">
          </div>
        </div>
      </div>
      <div class="col-md-6" *ngIf="song.lyrics">
        <div class="panel panel-default lyrics">

          <div class="panel-heading">
            <h4 class="center text-center">«{{song.title}}»</h4>
            <p *ngIf="song.written_by"><strong>Сөзү:</strong> {{song.written_by}}</p>
            <p *ngIf="song.composed_by"><strong>Обону:</strong> {{song.composed_by}}</p>
          </div>
          <div class="panel-body">
            <p [innerHTML]="song.lyrics">
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
