<section class="w-f-md">
  <section class="hbox stretch main-content"> <!-- side content -->
    <aside class="col-sm-5 no-padder" id="sidebar">
      <section class="vbox animated fadeInUp">
        <section class="scrollable">
          <div class="row">
            <div class="col-md-8">
              <section class="panel panel-default">
                <header class="panel-heading">
                  <input #searchInput type="text" class="input-md form-control" name="searchText"
                         placeholder="Издөө" (ngModelChange)="search(searchInput.value)" [(ngModel)]="searchText">
                </header>
                <ul class="list-group alt" id="songs" *ngIf="songs" infiniteScroll
                    [infiniteScrollDistance]="2"
                    [infiniteScrollThrottle]="300"
                    (scrolled)="onScrollDown()">
                  <li class="list-group-item" *ngFor="let song of songs; let i = index" class="list-group-item"
                      (click)="playerService.play(song, songs,i )"
                      [ngClass]="{active: playerService.isCurrentSong(song)}">
                    <div class="row">
                      <div class="col-md-1 col-xs-2">
                        <span class="pull-left thumb-sm avatar m-r" >
                            <img alt="{{song.artist_as_one}}" [lazyLoad]="song.profileLocal"
                                 src="http://localhost:8000/uploads/artist/profile/placeholder_one.jpg">
                        </span>
                      </div>
                      <div class="col-md-5 col-xs-4">
                        <div class="vertical-middle"><strong>{{song.artist_as_one}}</strong></div>
                      </div>
                      <div class="col-xs-4">
                        <div class="vertical-middle">{{song.title}}</div>
                      </div>
                      <div class="text-muted col-md-1 col-xs-2">
                        <div class="vertical-middle">{{song.duration}}</div>
                      </div>
                      <div class="col-sm-1 hidden-xs">
                        <div class="vertical-middle">
                          <i class="fa fa-play fa-1-5x" *ngIf="!playerService.isCurrentSong(song)"></i>
                          <i class="fa fa-pause fa-1-5x" *ngIf="playerService.isCurrentSong(song)"></i>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </section>
            </div>
            <div class="col-md-4 hidden-xs" id="song-lyrics">
              <div *ngIf="playerService.currentSong">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <a *ngFor="let artist of playerService.currentSong.artists; let last=last;"
                       routerLink="/artist/{{artist.id}}">
                      <strong>{{artist.name}} {{artist.lastname}}<span *ngIf="!last">, </span></strong>
                    </a>
                    -
                    <span>{{playerService.currentSong.title}}</span>
                  </div>
                  <div id="collapseOne" class="panel-collapse in">
                    <div class="panel-body text-sm">
                      <pre>{{playerService.currentSong.lyrics}}</pre>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </section>
    </aside>
  </section>
</section>
