<section class="w-f-md">
  <section class="hbox stretch bg-black dker"> <!-- side content -->
    <aside class="col-sm-5 no-padder" id="sidebar">
      <section class="vbox animated fadeInUp">
        <section class="scrollable">
          <div class="row" id="main-content">
            <div class="col-md-8">
              <section class="panel panel-default">
                <header class="panel-heading">
                  <input type="text" class="input-md form-control"
                         placeholder="Издөө">
                </header>
                <ul class="list-group alt">
                  <li class="list-group-item" *ngFor="let song of songs; let i = index" class="list-group-item"
                      (click)="play(song, songs,i )" [ngClass]="{active: playerService.isCurrentSong(song)}">
                    <div class="row">
                      <div class="col-md-1 col-xs-2"><span _ngcontent-lon-7="" class="pull-left thumb-sm avatar m-r">
                            <img alt="{{song.artist_as_one}}" src="{{song.artists[0].profile}}">
                        </span>
                      </div>
                      <div class="col-md-5 col-xs-4">
                        <div class="vertical-middle"><strong>{{song.artist_as_one}}</strong></div>
                      </div>
                      <div class="col-xs-4">
                        <div class="vertical-middle">{{song.title}}</div>
                      </div>
                      <div class="text-muted col-md-1 col-xs-2">
                        <div class="vertical-middle">{{song.duration}}</div>
                      </div>
                      <div class="col-xs-1">
                        <div class="vertical-middle">
                          <i class="fa fa-play fa-1-5x" *ngIf="!playerService.isCurrentSong(song)"></i>
                          <i class="fa fa-pause fa-1-5x" *ngIf="playerService.isCurrentSong(song)"></i>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </section>
            </div>
            <div class="col-md-4 hidden-xs" id="song-lyrics">
              <div *ngIf="playerService.currentSong">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <strong>{{playerService.currentSong.artist_as_one}}</strong>
                    -
                    <span>{{playerService.currentSong.title}}</span>
                  </div>
                  <div id="collapseOne" class="panel-collapse in">
                    <div class="panel-body text-sm">
                      <pre>{{playerService.currentSong.lyrics}}</pre>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </section>
    </aside>
  </section>
</section>
