<form class="navbar-form navbar-left input-s-lg m-t m-l-n-xs hidden-xs" role="search" autocomplete="off">
  <div class="form-group">
    <div class="input-group">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-sm bg-white btn-icon rounded">
                          <i class="fa fa-search"></i>
                        </button>
                    </span>
      <input [(ngModel)]="searchText" type="text" name="text" class="form-control input-sm no-border rounded"
             placeholder="Издөө...">
    </div>
  </div>
</form>
<ul *ngIf="result" class="list-group alt live-search">
  <li class="list-group-item"><strong>Аткаруучулар</strong></li>
  <li class="list-group-item" *ngFor="let artist of result.artists" (click)="navigateToArtistPage(artist)">
    <div class="media">
    <span class="pull-left thumb-xs">
      <img src="{{artist.profileLocal|profile}}" class="img-circle">
    </span>
      <div class="media-body m-t-xs">
        <div>{{artist.name}}</div>
      </div>
    </div>
  </li>
  <li class="list-group-item"><strong>Ырлар</strong></li>
  <li class="list-group-item" *ngFor="let song of result.songs" (click)="navigateToSongPage(song)">
    <div class="media">
    <span class="pull-left thumb-xs">
      <img src="{{song.cover|profile}}" class="img-circle">
    </span>
      <div class="media-body m-t-xs">
        <div class="m-t-x">{{song.title}} - {{song.artists[0].name}} </div>
      </div>
    </div>
  </li>
</ul>

