/* You can add global styles to this file, and also import other style files */
aside.aside .vbox {
  background-color: #232C32;
}

html {
  background-color: white;
}

.bg-black.auto .list-group-item, .bg-black .auto .list-group-item {
  background-color: white;
}

.bg-black.dker, .bg-black .dker {
  background-color: white;
}

#song-lyrics {
  padding-left: 0 !important;
}

#song-lyrics pre {
  background-color: white;
  border: none;
}

.bg-black.auto .list-group-item:hover, .bg-black.auto .list-group-item:focus, .bg-black.auto .list-group-item:active, .bg-black.auto .list-group-item.active, .bg-black .auto .list-group-item:hover, .bg-black .auto .list-group-item:focus, .bg-black .auto .list-group-item:active, .bg-black .auto .list-group-item.active {
  background-color: #691A99 !important;
}

#main-content {
  margin: 15px 0 15px 0;
}

#main-content .list-group-item {
  cursor: pointer;
}

.fa-1-5x {
  font-size: 1.5em;
}

.bg-muzyka.dk, .bg-muzyka .dk {
  cursor: pointer;
}

.content {
  overflow-y: auto;
}

#volume-bar {
  background-color: white;
}

.vertical-middle {
  margin-top: 10px;;
}

.bg-muzyka.bg, .bg-muzyka .bg, .bg-muzyka.lter, .bg-muzyka .lter {
  background-color: #4cb6cb !important;
}

.bg-muzyka .text-muted {
  color: #4cb6cb !important;
}
