/* You can add global styles to this file, and also import other style files */
aside.aside .vbox {
  background-color: #232C32;
}

html {
  background-color: white;
}

.bg-black.auto .list-group-item, .bg-black .auto .list-group-item {
  background-color: white;
}

.bg-black.dker, .bg-black .dker {
  background-color: white;
}

#song-lyrics {
  padding-left: 0 !important;
}

#song-lyrics pre {
  background-color: white;
  border: none;
}

.bg-black.auto .list-group-item:hover, .bg-black.auto .list-group-item:focus, .bg-black.auto .list-group-item:active, .bg-black.auto .list-group-item.active, .bg-black .auto .list-group-item:hover, .bg-black .auto .list-group-item:focus, .bg-black .auto .list-group-item:active, .bg-black .auto .list-group-item.active {
  background-color: #691A99 !important;
}

.main-content {
  margin: 15px;
}

.main-content .list-group-item {
  cursor: pointer;
}

.fa-1-5x {
  font-size: 1.5em;
}

.bg-muzyka.dk, .bg-muzyka .dk {
  cursor: pointer;
}

.content {
  overflow-y: auto;
}

#volume-bar {
  background-color: white;
}

.vertical-middle {
  margin-top: 10px;;
}

.bg-muzyka.bg, .bg-muzyka .bg, .bg-muzyka.lter, .bg-muzyka .lter {
  background-color: #4cb6cb !important;
}

.bg-muzyka .text-muted {
  color: #4cb6cb !important;
}

.jp-volume {
  width: 100px !important;
}

#song-lyrics .panel-heading a {
  color: #691a99;
}

#song-lyrics .panel-heading a:hover {
  color: #9b26af;
}

#main-content .list-group-item:hover {
  background: rgb(247, 250, 250);
}

.bg-primary {
  background-color: #691a99;
}

.bg-primary.dk, .bg-primary .dk {
  background-color: #9b26af;
}

.list-group-item.active {
  background-color: #9b26af !important;
}

#songs .fa-instagram {
  margin-left: 10px;
  margin-top: 5px;
}

.social-buttons {
  position: absolute;
  bottom: 65px;
  left: 35px;
}

.list-group-item.active .text-muted {
  color: #DDDDDD !important;
}

.bg-black a:hover, a.link-primary:hover, .artists a:hover {
  color: #691a99;
}

.text-accent, .jp-pause, .jp-play {
  color: #4cb6cb !important
}

.bg-muzyka .text-muted {
  color: white !important;
}

#progress-bar {
  background-color: #9b26af;
}

.discover-song:hover {
  cursor: pointer !important;
}
