<section class="vbox">
  <section class="scrollable padder-lg w-f-md" id="bjax-target">
    <h2 class="font-thin m-b">Ырлар дүйнөсүндө ачылыш жасаңыз</h2>
    <app-song-list [songs]="discoverSongs"></app-song-list>
    <div class="row">
      <div class="col-md-8"><h3 class="font-thin">Жаңы ырлар</h3>
        <app-song-list [songs]="newSongs"></app-song-list>
      </div>
      <div class="col-md-4"><h3 class="font-thin">Эң популярлуу ырлар</h3>
        <div class="list-group bg-white list-group-lg no-bg auto">
          <a class="list-group-item clearfix discover-song" *ngFor="let song of topSongs; let index=index;" (click)="playerService.play(song,topSongs,index)" [ngClass]="{active: playerService.isCurrentSong(song)}">
            <span class="pull-right h2 text-muted m-l">{{index + 1}}</span>
            <span class="pull-left thumb-sm avatar m-r">
              <img src="http://muzyka.api/uploads/artist/profile/placeholder_one.jpg"
                   [lazyLoad]="song.profileLocal" alt="...">
            </span>
            <span class="clear">
            <span>{{song.title}}</span>
            <small class="text-muted clear text-ellipsis">{{song.artist_as_one}}</small>
          </span>
          </a>
        </div>
      </div>
    </div>
  </section>
</section>
