<div class="row row-sm">

  <div *ngFor="let song of songs; let i = index;"
       class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <div class="item">
      <div class="pos-rlt discover-song">
        <div class="bottom">
          <span class="badge bg-info m-l-sm m-b-sm">{{song.duration}}</span>
        </div>
        <div class="item-overlay opacity r r-2x bg-black">
          <div class="center text-center m-t-n" (click)="playerService.play(song, songs,i )">
            <i class="fa fa-play fa-1-5x" *ngIf="!playerService.isCurrentSong(song)"></i>
            <i class="fa fa-pause fa-1-5x" *ngIf="playerService.isCurrentSong(song)"></i>
          </div>
          <div class="bottom padder m-b-sm">
            <a (click)="appService.favourite(song)" class="pull-right">
              <i class="fa fa-heart-o fa-1-5x"></i>
            </a>
          </div>
        </div>
        <a (click)="playerService.play(song, songs,i)">
          <img [lazyLoad]="song.profileLocal"
               src="http://muzyka.api/uploads/artist/profile/placeholder_one.jpg"
               class="r r-2x img-full">
        </a>
      </div>
      <div class="padder-v">
        <div>
          <a *ngFor="let artist of song.artists" routerLink="/artist/{{artist.id}}" class="text-ellipsis">
            <strong>{{artist.name}} {{artist.lastname}}</strong>
          </a>
        </div>
        {{song.title}}
      </div>
    </div>
  </div>
</div>

